$page-background-color: black;
$track-background-color:white;
$color-lime: lime;
$color-deeppink: deeppink;
$color-darkorange:darkorange;
$color-darkred:darkred;
$color-dodgerblue:dodgerblue;
$color-cadetblue:cadetblue;
$color-chartreuse:chartreuse;
$color-blueviolet:blueviolet;
